body {
    line-height: 1.8;
    font-family: "Consolas", "Verdana", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Yu Gothic", "Meiryo", sans-serif;
}

pre {
    margin: 0 0 0 2em;
    white-space: pre-line;
    font-family: "SFMono-Regular", "Consolas", "Courier New", "Meiryo", monospace;
}

code {
    font-family: "SFMono-Regular", "Consolas", "Courier New", "Meiryo", monospace;
}

img {
    vertical-align: text-bottom;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover,
a:active {
    color: red;
    text-decoration: underline;
}

/*================================================================================*/
body > *:not(hr) {
    margin-left: 24px;
}

h2, h3, h4 {
    margin: 0;
}

h2 + ul,
h3 + ul {
    margin-top: 0;
}

h2 {
    color: darkcyan;
    font-weight: bold;
    font-size: 300%;
    text-shadow: -1px -1px 3px #ccc, 1px 1px 3px #ccc;
}

h3 {
    color: darkorange;
    font-weight: bold;
    font-size: 200%;
    text-shadow: -1px -1px 3px #ccc, 1px 1px 3px #ccc;
}

h4 {
    font-weight: bold;
}

#welcome a {
    color: brown;
    font-weight: bold;
    font-size: 150%;
}

.titleOfEMail {
    display: inline-block;
    width: 8vw;
}
