body {
    line-height: 1.8;
    font-family: "Consolas", "Verdana", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 16px;
}

pre {
    margin: 0 0 0 2em;
    white-space: pre-line;
    font-family: "SFMono-Regular", "Consolas", "Courier New", "Meiryo", monospace;
}

code {
    font-family: "SFMono-Regular", "Consolas", "Courier New", "Meiryo", monospace;
}

img {
    vertical-align: text-bottom;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover,
a:active {
    color: red;
    text-decoration: underline;
}

/*================================================================================*/
body > *:not(hr) {
    margin-left: 24px;
}

h2, h3, h4 {
    margin: 0;
}

body > ul {
    margin-left: 0;
}

div > ul {
    padding-left: 24px;
}

h2 + ul {
    margin-top: 0;
}

/*================================================================================*/
@font-face {
    /*
      https://fonts.google.com/specimen/Caveat
    */
    font-family: 'Caveat';
    src: url('Caveat-VariableFont_wght.ttf') format('woff2 supports variations'),
         url('Caveat-VariableFont_wght.ttf') format('woff2-variations');
    font-weight: 400 700;
}

h1 {
    font-family: Caveat, Georgia, 'Times New Roman', Times, serif;
    color: darkcyan;
    text-shadow: 1px 1px 2px #999;
    font-size: 96px;
    margin-top: 0;
    margin-bottom: 0;
}

#logo {
    position: absolute;
    top: 36px;
    left: 480px;
}

#banner_for_lab h4 {
    font-family: Caveat, Georgia, 'Times New Roman', Times, serif;
}

/*================================================================================*/
h2 {
    color: #339933;
    font-weight: bold;
    font-size: 300%;
    text-shadow: -1px -1px 2px #ccc, 1px 1px 2px #ccc;
}

#welcome a {
    color: brown;
    font-weight: bold;
    font-size: 150%;
}

.titleOfEMail {
    display: inline-block;
    width: 120px;
}

/*================================================================================*/
#logo,
body > ul > li {
    z-index: 2;
}

#banner_for_lab {
    position: relative;
    top: 0;
    left: 64px;
    height: 48px;
    width: 310px;
    margin: 0 0 36px 0;
    padding: 0;

    div:first-child {
        position: absolute;
        top: -100px;
        left: 64px;
        height: calc(96px + 2 * 96px);
        width: calc(160px + 2 * 96px);
        background: radial-gradient(circle at center, #ccffee 0, white 60%);
        z-index: -1;
    }

    div:last-child {
        position: relative;
    }

    h4 {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        font-size: 32px;
    }

    p {
        flex: 1;
        display: inline-block;
        margin: 22px 0 auto auto;
        padding: 0;
        font-size: 14px;
        text-align: right;
        vertical-align: middle;
    }

    p::after {
        content: '\20 \279C';
    }

    a {
        display: inline-block;
        margin: 0;
        padding: 0 16px 0 8px;
        /*
        background-color: #fff3f3;
        */
        background-color: #fff0f0;
        border-top: 1px solid #ccffee33;
        border-right: 1px solid #66ccaa33;
        border-bottom: 1px solid #66ccaa33;
        border-left: 1px solid #ccffee33;
        border-radius: 8px;
    }

    a:link,
    a:visited {
        color: #244;
    }

    a:hover,
    a:active {
        color: red;
        text-decoration: none;
    }
}
