body {
    line-height: 1.8;
    font-family: "Verdana", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Yu Gothic", "Meiryo", sans-serif;
}

pre {
    margin: 0 0 0 2em;
    white-space: pre-line;
    font-family: "SFMono-Regular", "Consolas", "Courier New", "Meiryo", monospace;
}

code {
    font-family: "SFMono-Regular", "Consolas", "Courier New", "Meiryo", monospace;
}

img {
    vertical-align: text-bottom;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover,
a:active {
    color: red;
    text-decoration: underline;
}

/*================================================================================*/
#welcome a {
    color: Red;
}
